<!-- 
<div class="row">
  <div class="col-12">
    <h4>Liste des {{title}}s</h4>
   
    <table class="table table-hover align-middle text-nowrap table-bordered">
      <thead>
    <tr>
      <th>Motant reçu</th>
      <th>Date Envoi</th>
      <th>Frais</th>
      <th>Montant Totale</th>
      <th>Status</th>
      <th>Pays Origine</th>
      <th>Pays Destination</th>
      <th>Devise Origine</th>
      <th>Devise Destination</th>
      <th>ID Utilisateur</th>
      <th>Id Emetteur</th>
      <th>Id Recepteur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of datas">
      <td>{{transaction.montant_a_recevoir}}</td>
      <td>{{transaction.date_envoi}}</td>
      <td>{{transaction.frais}} </td>
      <td>{{transaction.montant_total}}</td>
      <td>{{transaction.status}}</td>
      <td>{{transaction.pays_origine}}</td>
      <td>{{transaction.pays_destination}}</td>
      <td>{{transaction.devise_origine}}</td>
      <td>{{transaction.devise_destination}}</td>
    
    <tbody>
      </table>
  </div>
</div>
 -->
 <div class="card">
  <div class="card-body">
      <h4 class="card-title">Liste des Transactions</h4>
      <div class="table-responsive">
          <table class="table table-hover align-middle text-nowrap table-bordered">
              <thead>
                  <tr>
                    <th>Motant reçu</th>
                    <th>Date Envoi</th>
                    <th>Frais</th>
                    <th>Montant Totale</th>
                    <th>Status</th>
                    <th>Pays Origine</th>
                    <th>Pays Destination</th>
                    <th>Devise Origine</th>
                    <th>Devise Destination</th>
                    <th>ID Utilisateur</th>
                    <th>Id Emetteur</th>
                    <th>Id Recepteur</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let transaction of datas' >
                    <td>{{transaction.montant_a_recevoir}}</td>
                    <td>{{transaction.date_envoi | date:'medium'}}</td>
                    <td>{{transaction.frais}} </td>
                    <td>{{transaction.montant_total}}</td>
                    <td>{{transaction.status}}</td>
                    <td>{{transaction.pays_origine}}</td>
                    <td>{{transaction.pays_destination}}</td>
                    <td>{{transaction.devise_origine}}</td>
                    <td>{{transaction.devise_destination}}</td>
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.emetteurId}}</td>
                    <td>{{transaction.recepteurId}}</td>
      
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="card">
        <div class="card-body">
            <!-- title -->
                    <h4 class="card-title">Top Selling</h4>
                    <h5 class="card-subtitle">Overview of the projects</h5>
                
            <!-- title -->
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th class="text-dark font-medium fs-4">Team Lead</th>
                            <th class="text-dark font-medium fs-4">Project</th>
                            <th class="text-dark font-medium fs-4">Status</th>
                            <th class="text-dark font-medium fs-4">Weeks</th>
                            <th class="text-dark font-medium fs-4">Budget</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let ts of datas'>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img alt="user" width="45" class="rounded-circle">
                                    <div class="ms-3">
                                        <h5 class="mb-0 font-medium">{{ts.userLogin}}</h5>
                                        <span class="text-muted">{{ts.id}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="fs-4">{{ts.montant_total}}</td>
                            <td>
                                <span class="p-2 bg-rounded-circle d-inline-block ms-3" *ngIf="ts.status=='transmitted'"></span>
                            </td>
                            
                            <td>
                                <h5 class="mb-0 fw-normal">{{ts.pays_origine}}</h5>
                            </td>
                            <td>
                                <h5 class="mb-0 fw-normal">{{ts.pays_destination}}</h5>
                            </td>
                        </tr>              
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
  </div>
</div>
  
